<launch>
    <arg name="namespace_prefix" default="ur10_d435_handeyecalibration" />

    <!-- start the robot -->
    <include file="$(find ur_robot_driver)/launch/ur10_bringup.launch">
        <arg name="limited" value="true" /> 
        <arg name="robot_ip" value="192.168.0.10" /> 
    </include> 
    <include file="$(find myrobot_moveit_config)/launch/myrobot_planning_execution.launch">
        <!-- <arg name="limited" value="true" /> -->
    </include>

    <!-- start the Kinect -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
       <!-- <arg name="depth_registration" value="true" /> -->
    </include>

    <!-- start easy_handeye -->
    <include file="$(find easy_handeye)/launch/publish.launch" >
        <arg name="namespace_prefix" value="$(arg namespace_prefix)" />
        <arg name="eye_on_hand" value="true" />
    </include>  

</launch>
